# dependencies
node_modules/
.pnpm-store/

# build outputs
dist/
.next/
out/
build/
*.tsbuildinfo

# turbo
.turbo/

# env
.env
.env.local
.env.*.local

# prisma
apps/api/prisma/*.db

# logs
*.log
npm-debug.log*

# editor / os
.DS_Store
.vscode/
.idea/

# test coverage
coverage/
